:root {
    color: white;

    --bg-primario: #151414;
    --bg-secundario: #222121;

    --text-primario: #d3d3d3;
    --text-secundario: #929191;

    --border-primario: #323131;
    --border-secundario: #252525;
}


/* RESET */

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    color: white;
}


/* BODY */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-primario);
    text-align: center;
}


/* LAYOUT PRINCIPAL */

.wid-mob {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 393px;
    height: 100%;
    padding: 0 10px 150px 10px;
    background-color: var(--bg-secundario);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* ALINHAMENTOS */

.alig-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding: 0 40px;
    margin: 60px 0 0 0;
}

.alig-left {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px 20px;
}


/* FORMULÁRIOS */

.form-cadastro {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

input {
    width: auto;
    color: var(--text-primario);
    background-color: transparent;
    border: 1px solid var(--border-primario);
    border-radius: 7px;
    padding: 10px 20px;
    margin-bottom: 7px;
}


/* BOTÕES */

.btn-primary {
    width: 80%;
    color: var(--text-primario);
    background-color: transparent;
    border: 1px solid var(--border-primario);
    border-radius: 7px;
    padding: 10px 20px;
    margin-bottom: 7px;
    text-decoration: none;
    cursor: pointer;
}

.btn-primary:hover,
.btn-primary:active {
    color: var(--text-secundario);
    font-weight: bold;
    background-color: var(--border-primario);
}

.btn-secundario {
    width: auto;
    color: var(--text-primario);
    background-color: var(--border-primario);
    border: 1px solid var(--border-primario);
    border-radius: 7px;
    padding: 10px 20px;
    margin-bottom: 7px;
    text-decoration: none;
    cursor: pointer;
}

.btn-secundario:hover {
    background-color: var(--border-secundario);
}

.btn-meus_livros {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}


/* LINKS */

.link-primario {
    padding: 10px 0 0 5px;
    color: var(--text-secundario);
    text-decoration: none;
    border: none;
}

.link-primario:hover {
    color: var(--text-primario);
}


/* TEXTOS */

.p-pequeno {
    color: var(--text-secundario);
    font-size: 11px;
    text-align: left;
    padding: 10px;
}

.p-default {
    margin-bottom: 40px;
}

h3 {
    width: 100%;
    margin: 20px 20px 20px 60px;
    text-align: left;
}


/* CARDS E CONTAINERS */

.card-primary {
    width: 80%;
    color: var(--text-primario);
    background-color: transparent;
    border: 1px solid var(--border-primario);
    border-radius: 7px;
    padding: 10px 20px;
    margin-bottom: 7px;
    text-decoration: none;
}

.cont-livros {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cont-ico {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin-top: 10px;
}


/* SELECT PADRÃO */

.select-primario {
    width: auto;
    color: var(--text-primario);
    background-color: var(--bg-secundario);
    border: 1px solid var(--border-primario);
    border-radius: 7px;
    padding: 10px 20px;
    margin-bottom: 7px;
    cursor: pointer;

    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}